body {
    padding: 50px;
    background-color: #30353d;
    color: lightgrey;
}

label {
    display: inline-block;
    width: 100px;
}

input:read-only {
    background: #5A5A5A;
}

a:link {
  color: lightblue;
}

a:visited {
  color: red;
}

.row {
    margin-top: 10px;
}

.layout-table, tbody, table, tr, th, td {
    border: hidden;
    padding: 0;
        border-spacing: 0;
}

.games {
    border: 1px solid steelblue;
    width: 300px;
    border-collapse: collapse;
}

.games tr td, th {
    padding: 5px;
    border: 1px solid steelblue;
}

.players {
    border: 1px solid steelblue;
    width: 800px;
    border-collapse: collapse;
}

.players tr td, th, tbody, table {
    padding: 5px;
    border: 1px solid steelblue;
}

.player-achievements {
    border: 1px solid steelblue;
    width: 80%;
    border-collapse: collapse;
}

.player-summary tr td, th, tbody, table {
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid steelblue;
}

.player-achievements tr, td, th, tbody, table {
    padding: 5px;
    border: 1px solid steelblue;
    border-collapse: collapse;
}

.table_icon img {
    width: 133px;
    height: 50px;
}
.player_avatar img {
    width: 100px;
    height: 100px;
}

.achievement_icon img {
    width: 40px;
    height: 40px;
}

