<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Game</title>
    <style type="text/css">
        body {
            padding: 50px;
            background-color: #5A5A5A;
            color: lightgrey;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: #5A5A5A;
        }

        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <h3>Game Info:</h3>


    <div class="row">
        <label for="game-name">Name:</label>
        <input id="game-name" name="game-name" type="text" readonly></input>
    </div>


    <script>
    $(function () {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);

        $.get('/api/platform/' + urlParams.get('platform_id') + '/game/' + urlParams.get('game_id') + '/').done(function (game) {
            select = document.getElementById('game-name');
            select.value = game.name
        })
    });

    </script>

    <div class="row">
        <button onclick="postTask()">Save</button>
        <a href="dependencies">
            <button type="button">Cancel</button>
        </a>
    </div>

</body>
</html>
