<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Game</title>
    <style type="text/css">
        body {
            padding: 50px;
            background-color: #5A5A5A;
            color: lightgrey;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: #5A5A5A;
        }

        .row {
            margin-top: 10px;
        }

    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <h3>Game Info:</h3>


    <div class="row">
        <label for="game-name">Name:</label>
        <input id="game-name" name="game-name" type="text" readonly></input>
    </div>

    <div class="row">
        <label for="console-name">Console:</label>
        <input id="console-name" name="console-name" type="text" readonly></input>
    </div>

    <div class="row">
        <label for="release-date">Release date:</label>
        <input id="release-date" name="release-date" type="text" readonly></input>
    </div>

    <div class="row">
        <label for="num-owners">Number of owners:</label>
        <input id="num-owners" name="num-owners" type="text" readonly></input>
    </div>

    <div class="row">
        <label for="publisher-name">Publisher:</label>
        <input id="publisher-name" name="publisher-name" type="text" readonly></input>
    </div>

    <div class="row">
        <label for="developer-name">Developer:</label>
        <input id="developer-name" name="developer-name" type="text" readonly></input>
    </div>

    <table class="taskInstances">
        <thead>
        <tr>
            <th hidden>ID</th>
            <th>Icon</th>
            <th>Name</th>
            <th>Description</th>
            <th>Number of players unlocked</th>
            <th>Percent of players unlocked</th>
            <th>Hidden</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>


    <script>
    $(function () {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);

        $.get('/api/platform/' + urlParams.get('platform_id') + '/game/' + urlParams.get('game_id') + '/').done(function (game) {
            select = document.getElementById('game-name');
            select.value = game.name
            select = document.getElementById('console-name');
            select.value = game.console.name ?? ""
            select = document.getElementById('release-date');
            select.value = game.releaseDate
            select = document.getElementById('num-owners');
            select.value = game.numOwners
            select = document.getElementById('num-owners');
            select.value = game.numOwners
            select = document.getElementById('publisher-name');
            select.value = game.publisher.name
            select = document.getElementById('developer-name');
            select.value = game.developer.name
            game.achievements.forEach(function (achievement) {
                 $('tbody').append(`
                    <tr>
                        <td hidden>${achievement.id}</td>
                        <td><img src="${achievement.iconUrl}"/></td>
                        <td>${achievement.name}</td>
                        <td>${achievement.description}</td>
                        <td>${achievement.numOwners}</td>
                        <td>${achievement.percentOwners}</td>
                        <td>${achievement.hidden}</td>
                    </tr>
                `)
            })
        })
    });

    </script>

    <div class="row">
        <a href="games">
            <button type="button">Back to games list</button>
        </a>
    </div>

</body>
</html>
