<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Player</title>
    <link rel="stylesheet" href="games.css">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <h3>Player Info:</h3>

    <img id="player-avatar"/>

    <br/>

    <table class="player-summary">
        <tbody id="player-summary-body">
        </tbody>
    </table>



    <br/>

    <h3>Last achievements:</h3>

    <table class="player-achievements">
        <thead>
        <tr>
            <th hidden>ID</th>
            <th>Icon</th>
            <th>Game</th>
            <th>Name</th>
            <th>Description</th>
            <th>Number of players unlocked</th>
            <th>Percent of players unlocked</th>
            <th>Unlocked at</th>
            <th>Hidden</th>
        </tr>
        </thead>
        <tbody id="lastAchievements">
        </tbody>
    </table>

    <br/>

    <h3>Rarest achievements:</h3>

    <table class="player-achievements">
        <thead>
        <tr>
            <th hidden>ID</th>
            <th>Icon</th>
            <th>Game</th>
            <th>Name</th>
            <th>Description</th>
            <th>Number of players unlocked</th>
            <th>Percent of players unlocked</th>
            <th>Unlocked at</th>
            <th>Hidden</th>
        </tr>
        </thead>
        <tbody id="rarestAchievements">
        </tbody>
    </table>


    <script>
    $(function () {
        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);

        $.get('/api/platform/' + urlParams.get('platform_id') + '/player/' + urlParams.get('player_id') + '/').done(function (player) {
            tb = document.getElementById('player-summary-body');
            var row = tb.insertRow(-1)
            var td = row.insertCell()
            td.innerHTML = "Name:"
            var td = row.insertCell()
            td.innerHTML = player.name
            var row = tb.insertRow(-1)
            var td = row.insertCell()
            td.innerHTML = "Games owned:"
            var td = row.insertCell()
            td.innerHTML = player.playerSummary.totalGames
            var row = tb.insertRow(-1)
            var td = row.insertCell()
            td.innerHTML = "Games perfected:"
            var td = row.insertCell()
            td.innerHTML = player.playerSummary.completedGames
            var row = tb.insertRow(-1)
            var td = row.insertCell()
            td.innerHTML = "Average percent completion:"
            var td = row.insertCell()
            td.innerHTML =  player.playerSummary.avgPercent
            var row = tb.insertRow(-1)
            var td = row.insertCell()
            td.innerHTML = "Last profile update:"
            var td = row.insertCell()
            td.innerHTML =  player.playerSummary.lastUpdate

            select = document.getElementById('player-avatar');
            select.src = player.avatarUrl ?? ""

            tb = document.getElementById('lastAchievements')
            player.lastAchievements.forEach(function (playerAchievement) {
                var PlatformName = player.platform.name ?? ""
                var row = tb.insertRow('tr')
                var td = row.insertCell()
                td.innerHTML = playerAchievement.id
                td.hidden = true
                var td = row.insertCell()
                td.innerHTML = ('<div class="achievement_icon"><img src="'+ playerAchievement.achievement.iconUrl + '"/></div></td>')
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.game.name
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.name
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.description
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.numOwners
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.percentOwners
                var td = row.insertCell()
                td.innerHTML = playerAchievement.dtUnlock
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.hidden
            });

            tb = document.getElementById('rarestAchievements')
            player.rarestAchievements.forEach(function (playerAchievement) {
                var PlatformName = player.platform.name ?? ""
                var row = tb.insertRow('tr')
                var td = row.insertCell()
                td.innerHTML = playerAchievement.id
                td.hidden = true
                var td = row.insertCell()
                td.innerHTML = ('<div class="achievement_icon"><img src="'+ playerAchievement.achievement.iconUrl + '"/></div></td>')
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.game.name
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.name
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.description
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.numOwners
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.percentOwners
                var td = row.insertCell()
                td.innerHTML = playerAchievement.dtUnlock
                var td = row.insertCell()
                td.innerHTML = playerAchievement.achievement.hidden
            });

        })
    });

    </script>

    <div class="row">
        <a href="players">
            <button type="button">Back to players list</button>
        </a>
    </div>

</body>
</html>
