<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Achievement web app</title>
    <link rel="stylesheet" href="games.css">
</head>
<body>
<h3>Achievement web app main</h3>
<ul>
    <li>
        <a href="gamesList.html" th:href="@{/games}">games</a>
    </li>
    <li>
        <a href="playerList.html" th:href="@{/players?page=0}">players</a>
    </li>
    <li>
        <a href="activity_feed.html" th:href="@{/activity_feed}">activity feed</a>
    </li>
</ul>
</body>
</html>